.MainHome {
    display: flex;
    height: 100vh;
}


/*-----------------Left----------------*/
.DivLeftHome {
    width: 33.3333%;
}

.NoUnderline {
    text-decoration: none;
    color: black;
}

.MenuOptions li {
    display: flex;
    align-items: center;

}

.MenuOptions li:hover {
    transform: scale(1.1);
}

.MenuOptions img {
    height: 2vw;
}

.MenuOptions p {
    -webkit-text-stroke-width: 0.5px;
    /* largura da borda */
    -webkit-text-stroke-color: #ffffff;
    font-size: 1.5vw;
    cursor: pointer;
}

/*-----------------Center----------------*/
.DivCenterHome {
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.DivCenterHome button {
    width: 25vw;
    height: 4vw;
    border-radius: 40px;
    font-size: 3vw;
    color: black;
    font-family: 'Naruto';
    background-color: var(--narutoOrange);
    margin-top: -2vw;
    border: none;
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
    position: relative;
    bottom: 5vh;
}

.DivCenterHome button:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 30px rgb(0, 0, 0);
    cursor: pointer;
}

.DivCenterHome img {
    width: 28vw;
}

/*-----------------Right----------------*/
.DivRightHome {
    width: 33.3333%;
  
}
.DivRightHome img {
    position: absolute;
    right: 2vw;
    top: 60vh;
    height: 12vw;
}

/*-------------------------------------------Mobile--------------------------------------------*/

@media screen and (max-width: 600px){

    .MainHome {
        flex-direction: column;
        align-items: center;
        height: 100vh;
        overflow-x: hidden;
    }

    .DivLeftHome {
        width: 100vw;
        height: 20vh;
        
    }
    .MenuOptions{
        
    }
    .MenuOptions li {
        margin-bottom: -3vh;
    
    }
    
    .MenuOptions img {
        height: 5vw;
    }
    .MenuOptions p {

        font-size: 2.7vh;
    }

    .DivCenterHome button {
        width: 80vw;
        height: 15vw;
        font-size: 12vw;
        position: relative;
        bottom: 15vh;
    }
    .DivRightHome img {
        display: none;
    }
    .DivCenterHome img {
        width: 400px;
    }

}