

.NarutoCard{
    background-color: #717171;
    background-image: url(./../../images/Card.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 12.4vw;
    height: 18vw;
    box-shadow: #000000 2px 2px 10px;

}

.ImgCardDiv{
    position: relative;
    top:9%;
    left: 3.5%;
    width: 93%;
    height: 47%;
}

.ImgCard{
    height: 100%;
    width: 100%;

}
.CardInfo{
    position: relative;
    top:5.6%;
    left: 4%;
    width: 90%;
    height: 35%;
}

.CardTitle{
    font-size: 1.0vw;
    text-align: center;
}

.Info{
    display: flex;
    font-size: 0.75vw;
    align-items: center;
    margin-top: -0.9vw;
    margin-bottom: -1vw;
    
}
.Info img{
    height: 1.2vw;
}