.ContainerLogo{
    display: flex;
    justify-content: center;
    z-index: -10;
    margin-top: 1vw;
}

.Logo{
    width: 20vw;
}

@media screen and (max-width: 600px){
    .Logo{
        width: 30vh;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px){
    .Logo{
        width: 35vh;
    }
}