

.MainGame{
    display: flex;
    overflow: hidden;
    height: 100vh;
}
.DivLeftGame{
    width: 20%;
    display: flex;
    align-items: center;
}
.DivLeftGame img{
    height: 35vw;
    position: relative;
    left: -10vw;
}
/*-------------Center Game--------------*/
.DivCenterGame{
    width: 60%;
}

.DivOpponent{
    height: 50%;
    display: flex;
}

.OpponentCard1{
    position: absolute;
    background-image: url('./../../images/BackgroundCard.png');
    background-size: 13vw 21vw;
    border-radius: 1.2vw;
    width: 13vw;
    height: 21vw;
    top: 1vw;
    left: 20%;
}
.OpponentCard2{
    position: absolute;
    background-image: url('./../../images/BackgroundCard.png');
    background-size: 13vw 21vw;
    
    border-radius: 1.2vw;
    width: 13vw;
    height: 21vw;
    top: 1vw;
    left: 23%;
}
.OpponentCard3{
    height: 21vw;
    position: absolute;
    top: 1vw;
    left: 26%;
}

.DivMiddleGame{
    height: 20%;
}
.DivMyCards{
    display: flex;
    height: 30%;
}
.MyCard1{
    position: absolute;
    left: 20%;
    bottom: -15vh;
}

.MyCard2{
    position: absolute;
    left: 23%;
    bottom: -15vh;
}

.MyCard3{
    position: absolute;
    left: 26%;
    bottom: -15vh;
}

.MyCard3Animation:hover,.MyCard2Animation:hover,.MyCard1Animation:hover{
    animation: go-up 0.4s alternate;
    cursor: pointer;
    animation-fill-mode: forwards;
}

.SelectCard{
    animation: set-my-card 1s alternate;
    animation-fill-mode:forwards;
}

.ChoiceBtn{
    position: absolute;
    top: 82%;
    left: 45%;
    width: 15vw;
    height: 3vw;
    border-radius: 40px;
    font-size: 2vw;
    font-family: 'Naruto';
    background-color: #5c5b5bc2;
    cursor:default;
    display: none;
    

}
.ChoiceBtnActive{
    background-color: var(--narutoOrange);
    cursor:pointer;
    box-shadow: 1px 1px 20px rgb(0, 0, 0) ;
    display: block;
}
.ChoiceBtnActive:hover{
    background-color: var(--narutoOrange);
    cursor:pointer;
    box-shadow: 4px 4px 20px rgb(0, 0, 0);
    transform: scale(1.1);
}

.DivJutsu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 45%;
    height: 8vw;
}
.DivJutsu img{
    height: 80%;
    display: none;
}

.Active{
    display: block;
}
.DivJutsu p{
    font-size: 1.5vw;
}
@keyframes set-my-card {
    0%{
        /*
        transform: transitionX();
        position: absolute;
        */
        
       
    }
    100%{
        /*
        transform: translateX(30vw) translateY(-8vw);
       */    
    
       left: 65.7%;
       bottom: 1%;
    }
}

@keyframes set-opponent-card {
    0%{
        
        transform: translateZ(10vw);
        
        
        
    }

    75%{
        
    }
    100%{
        
        
        transform: translateX(40vw)rotateY(180deg) ;

       
        
        
       
    }
}

@keyframes go-up{
    0%{
        transform: translateY(0vh);
    }
    100%{
        transform: translateY(-7vw);
        z-index: 20;
    }
}
/*-----------------------*/
.card{
    position: relative;
    width: 13vw;
    height: 21vw;
    
   perspective: 1000px;
  }
  
  .card .flip {
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  /*
  .card:hover .flip{
*/.AnimationOpponentCard{
    animation: set-opponent-card 1s alternate;
    animation-fill-mode: forwards;
  }

  .front-card, .back-card{
    position: absolute;
    backface-visibility: hidden;
  }
  
  .back-card{
    transform: rotateY(180deg);
  }
  .front-card img{
    width: 13vw;
    height: 21vw;
  }
  
  .front-card img, .back-card img{
    border-radius: 12px;
    box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3)
  }
/*-----------------------*/
.DivRightGame{
    width: 20%;
    display: flex;
    align-items: center;
}

.DivRightGame img{
    height: 35vw;
    position: relative;
    right: -3vw;
}

