
.MainGame{
    display: flex;
    height: 100vh;
    overflow:hidden;
}
.StickMenu{
    display: none;
    position: absolute;
    top:10vh;
    bottom: 10vh;
    left: 20vw;
    right: 20vw;
    z-index: 10;
    background-color: rgb(116, 26, 26);
    text-align: center;
    border-radius: 40px;
    border: 2px black;
    background-image: url(../../images/BackgroundStickMenu2.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    box-shadow: 5px 5px 20px #000;
}

.DivStickMenu{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.DivStickMenu img{
    height: 15vw;
}
.DivStickMenu h4{
    font-size: 1.6vw;
    color: white;
    text-shadow: 5px 3px 5px #000;
}

.BtnDefault{
    border-radius: 30px;
    font-size: 2vw;
    padding: 12px;
    font-family: 'Naruto';
    background-color: var(--narutoOrange);
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
    text-decoration: none;
    color: black;
}

.BtnDefault:hover{
    cursor:pointer;
    box-shadow: 4px 4px 20px rgb(0, 0, 0);
    transform: scale(1.1);
}


/*-------------Left Game--------------*/
.DivLeftGame{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.DivLeftGame img{
    height: 35vw;
    margin-left:-10vw ;
}
/*-------------Center Game--------------*/
.DivCenterGame{
    width: 60%;
}

.DivOpponent{
    height: 50%;
    display: flex;
}

.OpponentCard1{
    position: absolute;
    height: 21vw;
    
    top: 1vw;
    left: 26%;
}
.OpponentCard2{
    position: absolute;
    height: 21vw;
    top: 1vw;
    left: 23%;
}
.OpponentCard3{
    height: 21vw;
    position: absolute;
    top: 1vw;
    left: 20%;
}

.opponentCardSelected{
    
}

.moveOpponentCard{
    animation: move-opponent-card 1s ;
    animation-direction: alternate;
    animation-fill-mode:forwards;
}

.ejectCard{
    animation: eject-card 1s ;
    animation-direction: alternate;
    animation-fill-mode:forwards;
}

/*----------Opponent Card FLip-------------*/
.card{
    position: relative;
    width: 13vw;
    height: 21vw;
    
   perspective: 1000px;
  }
  
  .card .flip {
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  .AnimationOpponentCard{
    animation: set-opponent-card 1s alternate;
    animation-fill-mode: forwards;
  }
  

  .front-card, .back-card{
    position: absolute;
    backface-visibility: hidden;
  }
  
  .back-card{
    transform: rotateY(180deg);
  }
  .front-card img{
    width: 13vw;
    height: 21vw;
  }
  
  .front-card img, .back-card img{
    border-radius: 12px;
    box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3)
  }
/*-----------------------*/

.DivMiddleGame{
    height: 20%;
}
.DivMyCards{
    display: flex;
    height: 30%;
}
.MyCard1{
    position: absolute;
    left: 20%;
    bottom: -15vh;
    background-color: #0099cc00
}

.MyCard2{
    position: absolute;
    left: 23%;
    bottom: -15vh;
    background-color: #0099cc00
}

.MyCard3{
    position: absolute;
    left: 26%;
    bottom: -15vh;
    background-color: #0099cc00
}

.MyCard1,.MyCard2,.MyCard3,:disabled{
    color: black;
    font-family: Naruto, serif;
    padding: 0px;
}

.MyCard3Animation:hover,.MyCard2Animation:hover,.MyCard1Animation:hover{
    animation: go-up 0.4s alternate;
    cursor: pointer;
    animation-fill-mode: forwards;
}

.winner-my{
    animation: animationWinner-my 0.5s ;
    animation-direction: alternate;
    animation-fill-mode:forwards;
}

.winner-opponent{
    animation: animationWinner-opponent 0.5s ;
    animation-direction: alternate;
    animation-fill-mode:forwards;
}

.SelectCard{
    animation: set-my-card 1s alternate;
    animation-fill-mode:forwards;
}


.ChoiceBtn{
    position: absolute;
    top: 82%;
    left: 45%;
    width: 15vw;
    height: 3vw;
    border-radius: 40px;
    font-size: 2vw;
    font-family: 'Naruto';
    background-color: #5c5b5bc2;
    cursor:default;
    display: none;
    

}
.ChoiceBtnActive{
    background-color: var(--narutoOrange);
    cursor:pointer;
    box-shadow: 1px 1px 20px rgb(0, 0, 0) ;
    display: block;
}
.ChoiceBtnActive:hover{
    background-color: var(--narutoOrange);
    cursor:pointer;
    box-shadow: 4px 4px 20px rgb(0, 0, 0);
    transform: scale(1.1);
}

.DivJutsu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 45%;
    height: 8vw;
}
.DivJutsu img{
    height: 80%;
    display: none;
}

.Active{
    display: block;
}
.DivJutsu p{
    font-size: 1.5vw;
}

@keyframes eject-card {
    0%{
    }
    100%{
        left: 110vw;
    }
}

@keyframes animationWinner-my {
    0%{
        left: 65.7%;
        bottom: 1%;
        
    }
    100%{
        left: 45%;
        bottom: 20%;
       
    }
}

@keyframes animationWinner-opponent {
    0%{
        left: 65.7%;
        bottom: 1%;
        
    }
    100%{
        left: 45%;
        bottom: 20%;
       
    }
}

@keyframes set-my-card {
    0%{
        /*
        transform: transitionX();
        position: absolute;
        */
        
       
    }
    100%{
        /*
        transform: translateX(30vw) translateY(-8vw);
       */    
    
       left: 65.7%;
       bottom: 1%;
    }
}

@keyframes set-opponent-card {
    0%{
        transform: translateZ(10vw);
  

    }
    100%{
        transform: rotateY(180deg) ;
    
    }
}



@keyframes move-opponent-card {
    0%{
    }
    100%{

        left: 66.4%;
        top: 1%;
    }
}


@keyframes go-up{
    0%{
        transform: translateY(0vh);
    }
    100%{
        transform: translateY(-7vw);
        z-index: 20;
    }
}

.DivRightGame{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DivRightGame img{
    height: 35vw;
    margin-right: -11vw;
}

