body {
  margin: 0;
  font-family: Naruto, serif;
  background: var(--gradient) no-repeat;
  background-size: 100% 100vh
  
  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
}
*{
  border: solid 1px #ff0000;
}

:root {
  --gradient: linear-gradient(to right,#9000ff,#ff8800);
}

@font-face {
  font-family: 'Naruto';
  src: local('Naruto'), url(./font/njnaruto.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
