.PageCardsMain{
    overflow: auto ;
    height: 100vh;
}
.DivShowCard{
    display: flex;
    height: 87vh;
    flex-wrap: wrap;
}

.PageCardsMain h1{
    -webkit-text-stroke-width: 0.5px; /* largura da borda */
    -webkit-text-stroke-color: #ffffff;
    font-size: 3vw;
    margin: 2vh 0vw 0vw 6vw;
}
.DivInternalShowCard{
    margin: 1vw;
}
.DivInternalShowCard:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .PageCardsMain h1{
        -webkit-text-stroke-width: 0.5px; /* largura da borda */
        -webkit-text-stroke-color: #ffffff;
        font-size: 6vw;
        margin: 4vw;
    }
}