.PageCardsMain{
    overflow: auto ;
}
.DivShowCard{
    display: flex;
    height: 87vh;
    flex-wrap: wrap;
}

.PageCardsMain h1{
    -webkit-text-stroke-width: 0.5px; /* largura da borda */
    -webkit-text-stroke-color: #ffffff;
    font-size: 4vw;
    margin: 1vw;
}
.DivInternalShowCard{
    margin: 1vw;
}
.DivInternalShowCard:hover{
    transform: scale(1.1);
    cursor: pointer;
}